<div class="container">
	<h1>Login</h1>

	<%= form_tag '/sign_in' do %>

	  Email: <%= text_field_tag :email%><br>
	  Password: <%= password_field_tag :password%><br>
	  <%= submit_tag "Submit", class: "btn btn-default" %>

	<% end %>
	<br>
	No account? Signup <%= link_to "here", sign_up_path%>

	<%= button_to "Sign in with FaceBook", "/auth/facebook", :class => "btn btn-default", :method => :get %>
	<%= link_to 'Sign in with Twitter', '/auth/twitter', :class => "btn btn-default", :method => :get %>
</div>