<div class="container">
  <h1>Welcome <%= current_user.full_name %></h1>
  <div><%= link_to "Edit Profile", edit_user_path(@user), class:"btn btn-primary"%></div><br>
  <div><%= link_to "Sell", new_product_path, class:"btn btn-primary" %></div><br>

<h2>My products</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Status</th>
      <th>Price</th>
      <th>Action</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@user.products.each do |p|%>
    <tr>
      <td><%= link_to p.title, product_path(p.id) %></td>
      <td><%= "not sold " if p.active? == true%></td>
      <td>RM<%=p.price%></td>
    
      <td>
        <%= link_to "Edit", edit_product_path(p), class:"btn btn-default"%>
        <%= link_to "Delete", product_path(p), method:"delete", class:"btn btn-danger"%>
      </td>

      <td></td>
 
    </tr>
    <%end%>
  </tbody>
</table>
</div>
