<div class="container">
  <div class="row">
     <div class="col-md-12">
      <h3><%=@product.title%></h3>
       <div class="column">
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
          
             <div class="caption">
               <h4><%= link_to @product.title, @product %></h4>
               <p><span class="price">RM<%= @product.price %></span></p>   
               <p><span href="/products/<%=@product.id%>"><%= @product.description %></span></p>
               <p><span href="/products/<%=@product.id%>">
                 <li><%= @product.category_type %></li>
                 <li><%= @product.area %></li>
               </span></p>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>

     <div class="row">
       <div class="col-xs-6 col-xs-offset-3">
         
          <div class="well">

            <div class="row">
              <div class="col-xs-8">
                <h4><%= @product.title %></small></h4>
              </div>
              <div class="col-xs-4">

                <%= form_for @order_item, remote: true do |f| %>
                <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency @product.price %></span></h4>
                  <div class="input-group">
                    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                    <div class="input-group-btn">
                      <%= f.hidden_field :product_id, value: @product.id %>
                      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                    </div>
                  </div>
               
              </div>

            </div>
          </div>
         <% end %>
       </div>
     </div>

 
