<h3>Product:</h3>
  <div class="promos">  
  	<div class="promo scale">
  	  <div class="deal">
  	   
        <span><%= link_to @product.title, @product %></span>
  	    <span><%= @product.description %></span>
  	  </div>
  	  <span class="price">RM<%= @product.price %></span>
  	  <ul class="features">
  	    <li><%= @product.category_type %></li>
  	    <li><%= @product.area %></li>
  	  </ul>
  	</div>
  </div>


 
