<!DOCTYPE html>
<html>
  <head>
    <title>Joah</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
	  <% if logged_in? %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Joahh</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><%= link_to "Sell", new_product_path %></a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
         <% if logged_in? %>
          <li><a href="/"><span class="glyphicon glyphicon-user"></span> Signed in as <%= current_user.full_name %></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span><%= link_to 'Log Out', sign_out_path, method: :delete %></a></li>
          <% else %>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= link_to 'Login', '/sign_in' %></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span><%= link_to 'Signup', '/sign_up' %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>
	    Signed in as <%= current_user.full_name %> | <%= link_to 'Log Out', sign_out_path, method: :delete %>
      <%= link_to "Sell something", new_product_path %>
	  <% else %>
	    <%= link_to 'Login', '/sign_in' %> | <%= link_to 'Signup', '/sign_up' %>
	  <% end %>

	  <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
   
  </body>
</html>
